body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(192,192,192,1), rgba(192,192,192,0.5));
    background-color: rgba (192,192,192,0);
}


.center {
  margin: 0 auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

h1 {
    font-size: 50px;
    color: black;
    text-shadow: black;

}

button {

    display: inline-block;
    border: none;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    color: black;
    font-family: 'Gothic A1',sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#button-one{
    background: #FFE001;
    position: absolute;
    padding: 10px 30px 10px 30px;
}

#button-two{
    background: blue;
    position: absolute;
}
}