body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    background-image: linear-gradient(rgba(192,192,192,1), rgba(192,192,192,0.5));
    background-size: cover;
    background-color: rgba (192,192,192,0)
}

#search{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    -webkit-appearance:none;
    background-color: beige;
    border: none;
    border-bottom: 1px solid black;
        
}

#center-search{
    position: absolute;
    margin-left: 15%;
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 95%;
}

input[type=submit] {
  background-color: #FFE001;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #FFE001 !important; 
  color: black; 
}

button {

    display: inline-block;
    border: none;
    padding: 0.4rem 1.5rem;
    text-decoration: none;
    background: #FFE001;
    color: black;
    font-family: 'Roboto',sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#table{
    width: 50px;
    height: 50px;
    z-index: 1;
    position: absolute;
    margin-top: 27%;
    margin-left: 45%;
}

#table-img path {
  fill: #ffd000;
}

#desk{
    width: 50px;
    height: 50px;
    z-index: 100;
    position: absolute;
    margin-top: 35%;
    margin-left: -30%;  
}

.boxes {
    background-color: gray;
    color: gray;
    border: 1px solid dimgray;
    width: 10%;
    height: 10%;
    float: left;
    font-size: 1em;
    margin-top: 7%;
    padding-bottom: 0.5%;
    
}

#shelf5 {
    background-color: gray;
    color: grey;
    padding-bottom: 0.5%;
    width: 50%;
    height: 10%;
    float: left;
    margin-left: 5%;
    font-size: 1em;
    margin-top: 5%;
    border: 1px solid #17140F;
}

.shadow-shelf{
    -webkit-box-shadow: -2px 9px 2px -6px rgba(122,113,94,1);
-moz-box-shadow: -2px 9px 2px -6px rgba(122,113,94,1);
box-shadow: -2px 9px 2px -6px rgba(122,113,94,1);
}

#shelf6 {
    background-color: gray;
    color: gray;
    width: 40%;
    padding-bottom: 2%;
    float: left;
    margin-left: 50%;
    margin-top: 4%;
    font-size: 1em;
    border: 1px solid #17140F;
}

#shelf7 {
    background-color: gray;
    color: gray;
    width: 25%;
    padding-bottom: 2%;
    float: left;
    margin-top: 0%;
    margin-left: 10%;
    font-size: 1em;
    border: 1px solid #17140F;
}

#shelf8 {
    background-color: gray;
    color: gray;
    width: 30%;
    padding-bottom: 2%;
    float: left;
    margin-top: 0%;
    margin-left: 50%;
    font-size: 1em;
    border: 1px solid #17140F;
}

#shelf9 {
    background-color: gray;
    color: gray;
    width: 25%;
    padding-bottom: 2%;
    float: left;
    margin-left: 10%;
    margin-top: 0%;
    font-size: 1em;
    border: 1px solid #17140F;
}

#shelf10 {
    background-color: gray;
    color: gray;
    color: gray;
    width: 30%;
    padding-bottom: 2%;
    float: left;
    margin-left: 50%;
    margin-top: 0%;
    font-size: 1em;
    border: 1px solid #17140F;
}

#shelf11 {
    background-color: gray;
    color: gray;
    width: 40%;
    padding-bottom: 2%;
    float: left;
    margin-left: 50%;
    margin-top: 4%;
    font-size: 1em;
    border: 1px solid #17140F;
}

#shelf12 {
    background-color: gray;
    color: gray;
    width: 70%;
    height: 10%;
    float: left;
    margin-left: 25%;
    margin-top: 3%;
    font-size: 1em;
    border: 1px solid #17140F;
    padding-bottom: 1%;
}



/*IMAGE POPUP*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 40;
  top: 50;
  width: 90%; 
  height: 65%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
 /* max-width: 700px;*/
    max-height: 100vh;
    max-width: 100vh;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}



/*Find Another button*/
.find-another {
    padding: 0.4rem 1rem;
    margin: 0 auto;
    width: 80px;
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: rgba(255, 224, 1, 1);
    color: black;
    transition: 0.3s;
}

a {
    text-decoration: none;
}


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 25px;
    display: block;
    padding: 0.1px 6px;
    border-radius: 50%;
    background-color: rgba(255, 224, 1, 0.8);
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*pulse element*/
.pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,0, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0.8);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0.8);
      box-shadow: 0 0 0 10px rgba(255,255,0, 0.4);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,0, 0.8);
      box-shadow: 0 0 0 0 rgba(0,255,255, 0);
  }
}